body{
    background-color: whitesmoke;
}

.wrapper{
   min-height: 600px;
   max-width: 1200px;
   margin: 3rem auto;
   background-color: lightgray;
}

.card-product{
    cursor: pointer;
}

.card-product:hover{
    transform: translateY(-15px);
    border: 2px solid darkgray;
}